<launch>
    <arg name="robot_model"                       default="locobot_wx200"/>
    <arg name="robot_name"                        default="locobot"/>
    <arg name="use_lidar"                         default="true"/>
    <arg name="external_urdf_loc"                 default=""/> <!-- Set to the location of a custom URDF file if desired -->
    <arg name="use_rviz"                          default="false"/>
    <arg name="base_type"                         default="$(optenv INTERBOTIX_XSLOCOBOT_BASE_TYPE create3)"/> <!-- 'kobuki', 'create3' -->
    <arg name="localization"                      default="false"/>
    <arg name="rtabmap_args"                      default=""/>
    <arg name="use_rtabmapviz"                    default="false"/>
    <arg name="rtabmapviz_args"                   default=""/> <!-- e.g. "frame_id:=base_link" -->
    <arg name="database_path"                     default="~/.ros/rtabmap.db"/>
    <arg name="camera_tilt_angle"                 default="0.2618"/>
    <arg name="launch_driver"                     default="true"/>
    <arg name="connect_unity"                     default="true"/>

    <arg name="tcp_ip"                            default="0.0.0.0"/>
    <arg name="tcp_port"                          default="10000"/>

    <!-- Interbotix Navigation -->
    <include file="$(find interbotix_xslocobot_nav)/launch/xslocobot_nav.launch">
        <arg name="robot_model"             value="$(arg robot_model)"/>
        <arg name="robot_name"              value="$(arg robot_name)"/>
        <arg name="use_lidar"               value="$(arg use_lidar)"/>
        <arg name="external_urdf_loc"       value="$(arg external_urdf_loc)"/>
        <arg name="use_rviz"                value="$(arg use_rviz)"/>
        <arg name="base_type"               value="$(arg base_type)"/>
        <arg name="localization"            value="$(arg localization)"/>
        <arg name="rtabmap_args"            value="$(arg rtabmap_args)"/>
        <arg name="use_rtabmapviz"          value="$(arg use_rtabmapviz)"/>
        <arg name="rtabmapviz_args"         value="$(arg rtabmapviz_args)"/>
        <arg name="database_path"           value="$(arg database_path)"/>
        <arg name="camera_tilt_angle"       value="$(arg camera_tilt_angle)"/>
        <arg name="launch_driver"           value="$(arg launch_driver)"/>
    </include>

    <!-- ROS-TCP-Endpoint -->
    <include if="$(arg connect_unity)" file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
        <arg name="tcp_ip"                 value="$(arg tcp_ip)"/>
        <arg name="tcp_port"               value="$(arg tcp_port)"/>
    </include>

    <!-- <rosparam if="$(arg connect_unity)" param="use_sim_time">true</rosparam> -->

    <include file="$(find interbotix_xslocobot_joy)/launch/xslocobot_joy.launch">
        <arg name="robot_model"             value="$(arg robot_model)"/>
        <arg name="robot_name"              value="$(arg robot_name)"/>
        <arg name="use_lidar"               value="$(arg use_lidar)"/>
        <arg name="use_rviz"                value="$(arg use_rviz)"/>
        <arg name="base_type"               value="$(arg base_type)"/>
        <arg name="launch_driver"           value="false"/>
    </include>

</launch>