<launch>
    <arg name="tcp_ip"                            default="0.0.0.0"/>
    <arg name="tcp_port"                          default="10000"/>
    
    <arg name="robot_model"                       default="locobot_wx200"/>
    <arg name="robot_name"                        default="locobot"/>
    <arg name="show_lidar"                        default="true"/>
    <arg name="external_urdf_loc"                 default=""/>
    <arg name="external_srdf_loc"                 default=""/>
    <arg name="mode_configs"                      default="$(find interbotix_xslocobot_moveit)/config/modes_all.yaml"/>
    <arg name="use_actual"                        default="true"/>
    <arg name="dof"                               default="5"/>
    <arg name="use_camera"                        default="true"/>
    <arg name="use_moveit_rviz"                    default="false"/>

    <arg name="connect_unity"                     default="true"/>


    <!-- ROS-TCP-Endpoint -->
    <include if="$(arg connect_unity)" file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
        <arg name="tcp_ip"                 value="$(arg tcp_ip)"/>
        <arg name="tcp_port"               value="$(arg tcp_port)"/>
    </include>

    <!-- <rosparam if="$(arg connect_unity)" param="use_sim_time">true</rosparam> -->

    <!-- <include file="$(find interbotix_xslocobot_moveit)/launch/planning_context.launch">
        <arg name="robot_model"            value="$(arg robot_model)"/>
        <arg name="robot_name"             value="$(arg robot_name)"/>
        <arg name="show_lidar"             value="$(arg show_lidar)"/>
        <arg name="external_srdf_loc"      value="$(arg external_srdf_loc)"/>
        <arg name="dof"                    value="$(arg dof)"/>
    </include> -->

    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
        <rosparam param="source_list">[robot_description]</rosparam>
    </node> -->

    <!-- <include file="$(find interbotix_xslocobot_ros_control)/launch/xslocobot_ros_control.launch">
        <arg name="robot_model"                       value="$(arg robot_model)"/>
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="show_lidar"                        value="$(arg show_lidar)"/>
        <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
        <arg name="use_rviz"                          value="false"/>
        <arg name="use_camera"                        value="$(arg use_camera)"/>
        <arg name="mode_configs"                      value="$(arg mode_configs)"/>
        <arg name="dof"                               value="$(arg dof)"/>
    </include> -->

  <include file="$(find interbotix_xslocobot_moveit)/launch/xslocobot_moveit.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="show_lidar"                        value="$(arg show_lidar)"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="external_srdf_loc"                 value="$(arg external_srdf_loc)"/>
    <arg name="mode_configs"                      value="$(arg mode_configs)"/>
    <arg name="use_actual"                        value="$(arg use_actual)"/>
    <arg name="dof"                               value="$(arg dof)"/>
    <arg name="use_camera"                        value="$(arg use_camera)"/>
    <arg name="use_moveit_rviz"                   value="$(arg use_moveit_rviz)"/>
  </include>

    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" /> -->

    <!-- <include file="$(find interbotix_xslocobot_moveit)/launch/move_group.launch" ns="$(arg robot_name)">
        <arg name="robot_model"                       value="$(arg robot_model)"/>
        <arg name="robot_name"                        value="$(arg robot_name)"/>
        <arg name="show_lidar"                        value="$(arg show_lidar)"/>
        <arg name="external_srdf_loc"                 value="$(arg external_srdf_loc)"/>
        <arg name="dof"                               value="$(arg dof)"/>
        <arg name="use_camera"                        value="$(arg use_camera)"/>
        <arg name="fake_execution"                    value="$(arg use_fake)"/>
        <arg name="publish_monitored_planning_scene"  value="true" />
    </include> -->

    <node name="mover" pkg="telecobot_ros_unity" type="mover.py" 
        respawn="false" args="--wait" output="screen" ns="$(arg robot_name)">
        <rosparam command="load"                      file="$(find interbotix_xslocobot_moveit_interface)/config/$(arg robot_model).yaml"/>
        <param name="robot_model"                     value="$(arg robot_model)"/>
        <remap from="/attached_collision_object"      to="/$(arg robot_name)/attached_collision_object"/>
        <remap from="/collision_object"               to="/$(arg robot_name)/collision_object"/>
    </node>

    <!-- <node name="moveit_python_interface"
        pkg="interbotix_moveit_interface"
        type="moveit_python_interface"
        respawn="false"
        output="screen"
        ns="$(arg robot_name)">
        <rosparam command="load"                      file="$(find interbotix_xslocobot_moveit_interface)/config/$(arg robot_model).yaml"/>
        <param name="robot_model"                     value="$(arg robot_model)"/>
        <remap from="/attached_collision_object"      to="/$(arg robot_name)/attached_collision_object"/>
        <remap from="/collision_object"               to="/$(arg robot_name)/collision_object"/>
    </node> -->
</launch>