[submodule "ROS/interbotix_ws/src/ROS-TCP-Endpoint"]
	path = ROS/interbotix_ws/src/ROS-TCP-Endpoint
	url = https://github.com/Piskoooh/ROS-TCP-Endpoint.git
[submodule "ROS/interbotix_ws/src/moveit_msgs"]
	path = ROS/interbotix_ws/src/moveit_msgs
	url = git@github.com:ros-planning/moveit_msgs.git
	branch = 0.11.4
